---
layout: post
run: HamlConverter

image: Beer.jpg
thumb: Beer_thumb.jpg

author: Chad Lillquist
title: Striking Gold
sub_title: Superb Winter Ale
blurb: Let me introduce you to Black Gold!  This is a Chocolate Peanut Butter Cup Stout and it is delicious.  The better part about this ale is the free Reesses Cup you get with it!

tags: ["Ale", "Stout", "Chocolate", "Peanut Butter", "Strong", "Winter Beer"]
rating: 4

brewery: Renegade Brewery
beer_name: Black Gold
beer_abv: 11%
beer_ibus: 30
beer_type: Chocolate Peanut Butter Cup Stout
---

%img{:src => '/images/{{page.image}}', :class => 'post_image', :alt => '{{page.title}}'}
.post_stats
	{% include post_ratings.haml %}
	.statsRow
		%p Brewery:
		%h3 {{page.brewery}}
	.statsRow
		%p Name:
		%h3 {{page.beer_name}}
	.statsRow
		%p Type:
		%h3 {{page.beer_type}}
	.statsRow
		%p ABV:
		%h3 {{page.beer_abv}}
	.statsRow
		%p IBUs:
		%h3 {{page.beer_ibus}}
.clear

.post_body
	%h1 {{page.title}}
	%h2 {{page.sub_title}}
	%p.noIndent Author: {{page.author}}
	
	%p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	
	%p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.	

.post_tags
	%p Tags: 
	{% for tag in page.tags %}
	%a{:href => "/find.html?{{tag}}"}
		{{tag}}
	{% endfor %}